@{
    ViewBag.Title = "PaymentFailed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center;color: green;">Payment Failed</h2>
<p style="padding:50px;margin-bottom:100px;">
    अभ्यर्थी कृपया ध्यान दें !
    <br> 1. आपका रजिस्ट्रेशन हमारी वेबसाइट पर सफलता पूर्वक नहीं हो सका है।
    <br> 2. हमारी कम्पनी द्वारा अभ्यर्थियों को आवेदन प्रक्रिया पूर्ण करने के उपरांत ही इंटरव्यू के लिए सूचित किया जायेगा।
    <br> 3. जब तक अभ्यर्थी शुल्क देकर आवेदन प्रक्रिया पूर्ण नहीं करते हैं तब तक उनका आवेदन मान्य नही होगा।
    <br> 4. किसी भी असुविधा की दशा में आप हमारे टॉल फ्री न० 9452667888 (10:00 AM to 6:00 PM) पर कॉल कर सकते हैं।
    <br />5. आपसे लिया जाने वाला रजिस्ट्रेशन शुल्क इस बात की गारंटी नहीं होगा कि आपको आवेदन करने के पश्चात रोजगार मिल ही जायेगा।  रजिस्ट्रेशन शुल्क केवल आवेदन के प्रक्रियागत खर्चों को पूर्ण करने हेतु ही लिया जा रहा है।"

</p>
<br />

