@model APEC.Models.RegistrationViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Avani Paridhi</title>
</head>
<body>
    <div> 
        @Html.Raw(Model.Trax)
        Please wait proceeding for payment.......
    </div>
</body>
</html>
