@{
    ViewBag.Title = "RePrint";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center;color: green;">Print Application Form</h2>
@using (Html.BeginForm())
{
    <table style="width: 700px;margin: 50px auto;font-size: 16px;font-weight: 600;">
        <tr>
            <td>
                Application Number
            </td>
            <td>
                <input type="text" name="ApplicationNumber" />
            </td>
            <td>
                <span style="color:red">@ViewBag.Error</span>
            </td>
        </tr>
        <tr>
            <td>
                Mobile Number
            </td>
            <td>
                <input type="text" name="MobileNo" />
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Print Application Form" />
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    </table>

}