@model IEnumerable<APEC.DOMAIN.Models.District>

@{
    ViewBag.Title = "Districts";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Districts</h2>

<p>
    @Html.ActionLink("Create New", "Create",null,new {@class="btn btn-default btn-success"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="display:inline-flex;">
                @Html.ActionLink("Edit", "Edit", new { id = item.DistrictId }, new { @class = "btn btn-default btn-info" }) &nbsp;
                @using (Html.BeginForm("Delete", "District", new { area = "Admin", id = item.DistrictId }, FormMethod.Post, new { @class = "deleteForm" }))
                {
                    <input type="submit" value="Delete" class="btn btn-default btn-warning" />
                }
            </td>
        </tr>
    }

</table>

@section Scripts {
<script type="text/javascript">
    $(function() {
        $('.deleteForm').submit(function () {
            return confirm('Are you sure you want to delete this District?');
        }
        )});
</script>
}
   

