@*<section id="home">
    <!-- Carousel -->
    <div id="main-slide" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#main-slide" data-slide-to="0" class="active"></li>
            <li data-target="#main-slide" data-slide-to="1"></li>
            <li data-target="#main-slide" data-slide-to="2"></li>
            <li data-target="#main-slide" data-slide-to="3"></li>
            <li data-target="#main-slide" data-slide-to="4"></li>
            <li data-target="#main-slide" data-slide-to="5"></li>
            <li data-target="#main-slide" data-slide-to="6"></li>
        </ol>
        <!--/ Indicators end-->
        <!-- Carousel inner -->
        <div class="carousel-inner">
            <div class="item active">
                <img class="img-responsive" src="images/slider/a1.jpg" alt="slider">
            </div>
            <div class="item">
                <img class="img-responsive" src="images/slider/a2.jpg" alt="slider">
            </div>
            <div class="item">
                <img class="img-responsive" src="images/slider/a3.jpg" alt="slider">
            </div>
            <div class="item">
                <img class="img-responsive" src="images/slider/a4.jpg" alt="slider">
            </div>
            <div class="item">
                <img class="img-responsive" src="images/slider/a5.jpg" alt="slider">
            </div>
            <div class="item">
                <img class="img-responsive" src="images/slider/a6.jpg" alt="slider">
            </div>
            <div class="item">
                <img class="img-responsive" src="images/slider/a7.jpg" alt="slider">
            </div>
        </div>
        <!-- Carousel inner end-->
        <!-- Controls -->
        <a class="left carousel-control" href="#main-slide" data-slide="prev">
            <span><i class="fa fa-angle-left"></i></span>
        </a>
        <a class="right carousel-control" href="#main-slide" data-slide="next">
            <span><i class="fa fa-angle-right"></i></span>
        </a>
    </div>
    <!-- /carousel -->
</section>

<div id="content">

    <div class="container">
        <div class="col-md-12" style="font-size: 18px; line-height: 1.6;height:200px;">
            <div class="col-md-6">
                <b>महत्वपूर्ण नोटिस</b>
                <br />
                माननीय उच्च न्यायालय इलाहाबाद में योजित जनहित याचिका संख्या-29005/16 में पारित आदेशों के परिपेक्ष्य में माननीय उच्च न्यायालय के आदेशों का अनुपालन करते हुये समस्त प्रकार की भर्तियों पर तत्काल प्रभाव से रोक लगायी जाती है यह आदेश माननीय उच्च न्यायालय इलाहाबाद के अगले आदेशों तक प्रभावी रहेगा।
                <br />
                <br />
                <p class="pull-right" style="font-size: 18px;margin-right: 20px;">कृते निदेशक</p>
            </div>
            <div class="col-md-6 pull-right">
                <b style="font-size: 18px;float: right; color: red">माननीय उच्च न्यायालय द्वारा पारित आदेशों की प्रतियां:-</b>
                <br />
                <ul style="font-size:16px;float: right;">
                    <li>
                        <a href="Images/PIL04.pdf" style="color: #0000FF">PIL No-29005/2016 Decision Date:01-07-2016</a><img src="Images/new.gif" />
                    </li>
                    <li>
                        <a href="Images/PIL03.pdf" style="color: #0000FF">PIL No-29005/2016 Decision Date:30-06-2016</a><img src="Images/new.gif" />
                    </li>
                    <li>
                        <a href="Images/PIL02.pdf" style="color: #0000FF">PIL No-29005/2016 Decision Date:27-06-2016</a><img src="Images/new.gif" />
                    </li>
                    <li>
                        <a href="Images/PIL01.pdf" style="color: #0000FF">PIL No-29005/2016 Decision Date:21-06-2016</a><img src="Images/new.gif" />
                    </li>
                </ul>
            </div>
        </div>

        <!-- Divider -->
        <div class="hr1 margin-60"></div>
        <div class="hr1 margin-60"></div>
        <div class="row">
            <div class="col-md-4">
                <h4 class="classic-title"><span>Important</span></h4>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab"><i class="icon-award-1"></i>Registration</a></li>
                    <li><a href="#tab2" data-toggle="tab"><i class="icon-beaker"></i>Helpline</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1">
                        <p> यू.पी.एस.आई.सी. में रोज़गार <br />पंजीकरण हेतु यहाँ क्लिक करें।  </p>
                    </div>
                    <div class="tab-pane fade" id="tab2">
                        <p>Helpline No: +91-9452667888 <br /> Monday to Friday <br /> 10:00 AM to 6:00 PM Only</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h4 class="classic-title"><span>अवनी परिधि एनर्जी & कम्युनिकेशंस प्राइवेट लिमिटेड (APEC)</span></h4>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-one">
                                    <i class="icon-down-open-1 control-icon"></i>
                                    <i class="icon-laptop-1"></i> Avani Paridhi
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-one" class="panel-collapse collapse in">
                            <div class="panel-body">मे० अवनी परिधि एनर्जी & कम्युनिकेशंस प्राइवेट लिमिटेड (APEC)   उत्तर प्रदेश लघु उद्योग निगम लिमिटेड (UPSIC)   में डेडिकेटेड मैनपावर आपूर्ति वेन्डर के रूप में पंजीकृत कम्पनी है। इसका लखनऊ स्थित ऑफिस 16/34 फॉन ब्रेक एवेन्यू, सरोजनी नायडू मार्ग, लखनऊ है। APEC तकनीकी तथा गैर तकनीकी दोनों श्रेणियों में UPSIC के द्वारा दिए गए निर्देशों के क्रम में मैनपावर की आपूर्ति करती है।  </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-tow" class="collapsed">
                                    <i class="icon-down-open-1 control-icon"></i>
                                    <i class="icon-gift-1"></i> Placement
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-tow" class="panel-collapse collapse">
                            <div class="panel-body">UPSIC के माध्यम से APEC के कर्मी के रुप में विभिन्न विभागों की सभी प्रकार की नौकरियों में भर्ती के इच्छुक सभी अभ्यर्थियों को UPSIC के द्वारा निर्धारित की गई प्रक्रिया के अनुसार पंजीकृत होना आवश्यक है। इन्ही पंजीकृत अभ्यर्थियों में से भविष्य में समय-समय पर UPSIC के माध्यम से APEC के कर्मी के रुप में होने वाली भर्तियों में यथावश्यकता चयन कर तैनाती/नियुक्ति की जायेगी। </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-three" class="collapsed">
                                    <i class="icon-down-open-1 control-icon"></i>
                                    <i class="icon-tint"></i> Caution
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-three" class="panel-collapse collapse">
                            <div class="panel-body">UPSIC तथा APEC किसी भी अवांछित रूप से नौकरी प्राप्त करने के किसी भी तरीके का विरोध करती है साथ ही आवेदनकर्ताओं से अपील करती है कि अभ्यर्थी से कोई भी व्यक्ति गुमराह कर किसी अवांछनीय तरीके से नौकरी दिलाने का वादा करता है तो कृपया तत्काल ही उस व्यक्ति के बारे में कम्पनी के हेल्पलाइन न० +91-9452667888 पर फ़ोन कर पूरी सूचना दें।</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hr1 margin-60"></div>

    </div>
</div>*@
