@model IEnumerable<APEC.DOMAIN.Models.Client>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string cssClass = "even";
    int count = 0;
}
<div class="page-banner no-subtitle">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Client List</h2>
            </div>
            <div class="col-md-6">
                <ul class="breadcrumbs">
                    <li><a href="#">Home</a></li>
                    <li>Client List</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="container">
        <div class="col-lg-12">
            <div class="panel panel-default" style="padding:10px;">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Client List
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        @foreach( var item in Model)
                        {
                            cssClass = count % 2 == 0 ? "even" : "";        
                        <a href="#" class="list-group-item @cssClass">
                            <i class="fa fa-comment fa-fw"></i> @item.Department
                            <span class="pull-right text-muted small">
                                <em>@item.Name</em>
                            </span>
                        </a>
                            count++;
                        }
                    </div>
              
                 
                </div>
                
            </div>

        </div>
        


    </div>
</div>

